[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"
psycopg2 = "*"
sqlalchemy = "*"
pyyaml = "*"
numpy = ">=1.22"

[dev-packages]

[requires]
python_version = "3.7"
